p {
    font-family:"Verdana",sans-serif;
}
h2 {
    font-family:"Verdana",sans-serif;
}
h3 {
    font-family:"Verdana",sans-serif;
}
h4 {
    font-family:"Verdana",sans-serif;
}
h5 {
    font-family:"Verdana",sans-serif;
}
h6 {
    font-family:"Verdana",sans-serif;
}
